div.paragraph {
  width: 100%;
  border: 0;
  background: #0757f3;
  height: 400px;
  width: 650px;
  font-size: 16px;
  color: #fff;
  padding: 0px;
  box-sizing: border-box;
  //min-height: 300px;
  overflow:auto;
  white-space: pre-line;
}

h3 {
  animation: pulse 1s;
  &:nth-of-type(1) {
    animation-delay: 1.1s;
  }
  &:nth-of-type(2) {
    animation-delay: 1.2s;
  }
  &:nth-of-type(3) {
    animation-delay: 1.3s;
  }
  &:nth-of-type(4) {
    animation-delay: 1.4s;
  }
  &:nth-of-type(5) {
    animation-delay: 1.5s;
  }
}

h4 {
  animation: pulse 1s;
  &:nth-of-type(1) {
    animation-delay: 1.1s;
  }
  &:nth-of-type(2) {
    animation-delay: 1.2s;
  }
  &:nth-of-type(3) {
    animation-delay: 1.3s;
  }
  &:nth-of-type(4) {
    animation-delay: 1.4s;
  }
  &:nth-of-type(5) {
    animation-delay: 1.5s;
  }
}

p.bullet1 {
  display: list-item;
  list-style-type: square;
  margin-left : 1em;
}

p.bullet2 {
  display: list-item;
  list-style-type: circle;
  margin-left : 3em;
}


.stage-cube-cont {
  width: 50%;
  height: 100%;
  top: 0;
  padding-top: 18%;
  margin-left: 0;
  position: absolute;
  right: 0;
  overflow: hidden;
}

.cubespinner {
  animation-name: spincube;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 12s;
  transform-style: preserve-3d;
  transform-origin: 100px 100px 0;
  margin-left: calc(50% - 100px);

  div {
    position: absolute;
    width: 200px;
    height: 200px;
    border: 1px solid #ccc;
    background: rgba(255, 255, 255, 0.4);
    text-align: center;
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20px 0px lightyellow;
  }

  .face1 {
    transform: translateZ(100px);
    color: #dd0031;
  }
  .face2 {
    transform: rotateY(90deg) translateZ(100px);
    color: #f06529;
  }
  .face3 {
    transform: rotateY(90deg) rotateX(90deg) translateZ(100px);
    color: #28a4d9;
  }
  .face4 {
    transform: rotateY(180deg) rotateZ(90deg) translateZ(100px);
    color: #ec4d28;
  }
  .face5 {
    transform: rotateY(-90deg) rotateZ(90deg) translateZ(100px);
    color: #5ed4f4;
  }
  .face6 {
    transform: rotateX(-90deg) translateZ(100px);
    color: #28a4d9;
  }
}

@keyframes spincube {
  from,
  to {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  16% {
    transform: rotateY(-90deg);
  }
  33% {
    transform: rotateY(-90deg) rotateZ(90deg);
  }
  50% {
    transform: rotateY(-180deg) rotateZ(90deg);
  }
  66% {
    transform: rotateY(-270deg) rotateX(90deg);
  }
  83% {
    transform: rotateX(90deg);
  }
}
